<%- include("header") -%>
<h2>this is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut placeat ducimus aliquid minima et doloremque qui quidem quam, earum tenetur vitae itaque illo cum, nobis fugit omnis, aliquam illum reiciendis.</p>
<%- include("footer") -%>